.body {
    margin: 0px;
    width: 100%;
  }
  
  .container{  
    font-family: 'M PLUS 1p', sans-serif;  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  .login-signup{ 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .primary{
    background: linear-gradient(to bottom, rgba(1, 129, 248, 0.624), #001762);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: #0EBCEB;
    cursor: pointer;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
 
  

@media screen and (min-width: 768px) {
  